
<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>무릎팍도사</title>
    <link href="http://ironsummitmedia.github.io/startbootstrap-the-big-picture/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://ironsummitmedia.github.io/startbootstrap-the-big-picture/css/the-big-picture.css" rel="stylesheet">
</head>

<body>
    <body background = "http://cimg.applefile.com/2012/11/30/Y2gwMTA5NjBfMTM1NDI0NjU4NA==.jpg">
    <div class="container" style= width:"50%" align="center"><br>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 style = "font-size:100px";>무릎팍도사</h1>
                <p>질문을 듣기도 전에 당신의 고민을 해결해주는 무릎팍도사입니다.</p>
                <img src = "http://img.sbs.co.kr/newsnet/etv/upload/2013/06/12/30000290542_700.jpg">
                <form action="/home/output" method="GET">
                  당신의 고민을 입력해봐 <input type="text" name="to_output">
                <input type="submit" value="결과는?">
                </form>
            </div>
        </div>    
    </div>
   


</body>

</html>
