<div class = "result" align="center">
    <h1> <%=@diget%> 에 대한 해결책은 다음과 같습니다 허허 </h1><br>
<% if (@count == 1) %>
    <h1> 당신은 유느님을 찾아가보시길 바랍니다. </h1>
    <img src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSxm9PhlPCCAbZh9XLFeiTt2maJ8KYAgGSNGZGlovndbxsQgF6m">
<% end %>
<% if (@count == 2) %>
    <h1> 당신은 한예슬의 콧소리가 담긴 목소리를 들으면 힘이날 겁니다.. </h1>
    <img src = "http://thumbnail.egloos.net/600x0/http://pds6.egloos.com/pds/200712/14/47/b0046947_47623d9ad77d8.jpg">
<% end %>
<% if (@count == 3) %>
    <h1> 아무래도 당신은 여행을 떠나야할 것 같군요. 짐싸세요 </h1>
    <img src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSd6Vxt_mvxXeR47emr6qKAGGasJFwD4TsPS2V9vtfK0ILl3GgvXw">    
<% end %>
<% if (@count == 4) %>
    <h1> 어쩔 수 없습니다. 의느님의 힘을 빌려보시길. </h1>
    <img src = "http://imbbsfile.imbc.com/entertain07/gold_clip/201106/gold_clip110609083058ttmma0100.jpg">   
<% end %>
<% if (@count == 5) %>
    <h1> 노력뿐입니다. 성공은 노력하는 과정이 필수적입니다. KEEP GOING 하십쇼 </h1>
    <img src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRWg5GIcveO0f62WPgynGrqFVPVvwiRdVD0XtdpwRekEbVE3IGu">
<% end %>
<% if (@count == 6) %>
    <h1> 군대가기 전 그 심정 떠올려보십시오. 고민은 해결될 겁니다. </h1>
    <img src = "http://cfile29.uf.tistory.com/image/242C354F51DF15271C288E">    
<% end %>